.card {
    width: 60%;
    padding: 20px;
    margin: auto auto;
    background-color: #3a3a3a;
    box-shadow: 0 2px 8px rgba(189, 189, 189, 0.953);
    border-radius: 12px;
}
.card-1{
    width: 60%;
    padding: 10px;
    margin: auto auto;
    background-color: #303030;
    box-shadow: 0 2px 8px rgba(189, 189, 189, 0.953);
    border-radius: 12px;
}

.card-filter{
    padding: 5px;
    margin: auto auto;
    background-color: #333333;
    /* box-shadow: 0 2px 8px rgba(49, 49, 49, 0.953); */
    border-radius: 12px;
}
